.box{
    width: 300px;
    height: 300px;
    perspective: 800px;
    margin: 50px;
}
.front{
    height: 300px;
    width: 300px;
    background: salmon;
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 1s linear;
}
.box:hover .front{
    transform: rotateY(-180deg);
}
.back{
    height: 300px;
    width: 300px;
    background: palegreen;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 1s linear;
}
.box:hover .back{
    transform: rotateY(0deg);
}