
.background{
    background: url('./header-bg.png')
}
.background2{
    background: url('./biography-bg.png');
}
#bioSection{
    position: relative;
    top: 100px;
}
.work-section{
    position: relative;
    top: 75px;
}
.footer-section{
    position: relative;
    background: url('./footer-bg.png');
    top: 150px;
}
